* {
    font-family: 'Comfortaa';
}

#app {
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow-x: hidden;
  }

:root {
    --swiper-theme-color: #FF2323 !important;
    --swiper-pagination-bullet-inactive-color: #6843fe;
    --swiper-pagination-bullet-inactive-opacity: 0.6;
}
.logo_bl {
  path.teleg {
    fill: black;
  }
  g.email {
    fill: black;
  }
  path.email {
    fill: black;
  }
}
.logo, .logo_bl {
  transform: scale(1);
  transition: transform 0.3s ease;
}
.logo:hover, .logo_bl:hover {
  transform: scale(1.05);
  path.teleg {
    fill: #31baff;
  }
  path.vk {
    fill: #002fff;
  }
  g.email {
    fill: #f7d33c;
  }
  path.email {
    fill: #FF2323;
  }
}
.last {
  path.last {
    stroke: #FF2323;
  }
}
img:not(.acc) {
  border-radius: 1.125rem;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #6843fe;
}

body::-webkit-scrollbar-thumb {
  background-color: #FF2323;
  border-radius: 20px;   
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
